@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap");

body {
  font-family: "Inter", sans-serif;
  background-color: #081a17;
  color: #e5e7eb;
  overflow-x: hidden;
  scroll-behavior: smooth;
}

body::before {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: repeating-linear-gradient(
    45deg,
    #0f2923 0px,
    #0f2923 10px,
    #081a17 10px,
    #081a17 20px
  );
  opacity: 0.15;
  z-index: -1;
}

.search-container {
  max-width: 600px;
  width: 90%;
  margin: 0 auto;
}

.login-input {
  background-color: #081a17;
  border: 1px solid #10b981;
  color: #e5e7eb;
  box-shadow: 0 0 0 0 rgba(16, 185, 129, 0);
  transition: all 0.3s ease;
}

.login-input:focus {
  border-color: #34d399;
  box-shadow: 0 0 0 2px rgba(16, 185, 129, 0.4);
}

.btn-buscar {
  background-color: #10b981;
  color: white;
  padding: 0.75rem 1.5rem;
  border-radius: 9999px;
  border: none;
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1),
    0 2px 4px -2px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease;
}

.btn-buscar:hover {
  transform: translateY(-2px);
  box-shadow: 0 10px 15px -3px rgba(16, 185, 129, 0.3),
    0 4px 6px -4px rgba(16, 185, 129, 0.2);
}

.btn-acessar {
  background-color: #059669;
  box-shadow: 0 4px 15px -5px rgba(5, 150, 105, 0.6);
  transition: all 0.3s ease;
}

.btn-acessar:hover {
  background-color: #047857;
  box-shadow: 0 6px 20px -5px rgba(5, 150, 105, 0.8),
    0 0 10px rgba(5, 150, 105, 0.5);
  transform: translateY(-1px);
}

.btn-home {
  background-color: #10b981;
  box-shadow: 0 4px 15px -5px rgba(16, 185, 129, 0.6);
  transition: all 0.3s ease;
}

.btn-home:hover {
  background-color: #34d399;
  box-shadow: 0 6px 20px -5px rgba(16, 185, 129, 0.8),
    0 0 10px rgba(16, 185, 129, 0.5);
  transform: translateY(-1px);
}

.ifpi-content-bg {
  background-image: url("static/icons/ilustracao-ifpi.svg");
  background-size: 330px;
  background-position: top left;
  background-repeat: no-repeat;
  background-blend-mode: multiply;
  padding: 2.5rem;
}

@media (max-width: 768px) {
  .ifpi-content-bg {
    background-size: 430px;
  }
}

.password-container {
  position: relative;
}

.password-toggle {
  position: absolute;
  right: 1rem;
  top: 50%;
  transform: translateY(-50%);
  line-height: 1;
  padding: 0;
  background: none;
  border: none;
  cursor: pointer;
  color: #6b7280;
  transition: color 0.2s;
  z-index: 10;
}

.password-toggle:hover {
  color: #34d399;
}

.mensagemSucesso {
  background-color: rgba(00, 255, 00, 0.2);
}
.mensagemErro {
  background-color: rgba(255, 00, 00, 0.2);
}

@media (max-width: 640px) {
  #toast-message {
    left: 50%;
    transform: translateX(-50%);
  }
}
