<!DOCTYPE html>
<html
  lang="pt"
  xmlns:th="http://www.thymeleaf.org"
  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
  layout:decorate="~{layoutPadraoAdm.html}"
>
  <head>
    <title>Cadastrar Documento</title>
    <link rel="stylesheet" href="/static/style.css" />
  </head>

  <body>
    <div layout:fragment="container">
      <p
        id="toast-message"
        th:text="${mensagem}"
        th:class="${style} + ' fixed top-8 left-[70%] z-50 px-4 py-2 rounded-md shadow-md transition-all duration-500 transform scale-100 opacity-100 min-w-[250px] text-center text-sm font-semibold'"
        th:classappend="${mensagem} ? ' show-toast' : ''"
        class="hidden"
      ></p>

      <div
        class="max-w-sm mx-auto p-8 bg-white rounded-2xl shadow-xl border border-emerald-200"
      >
        <form
          method="post"
          th:action="@{/cadastrarDocumentoRealizado}"
          th:object="${itemPerdido}"
          class="space-y-6"
        >
          <h2 class="text-2xl font-bold text-gray-800 text-center mb-4">
            Cadastrar Documento
          </h2>

          <div class="relative">
            <label
              class="absolute -top-3 left-3 bg-white px-1 text-sm text-gray-500"
            >
              Selecione o Aluno
            </label>
            <select
              id="alunoSelect"
              name="alunoId"
              required
              class="w-full p-4 border border-gray-300 rounded-xl text-sm text-black focus:ring-emerald-400 focus:border-emerald-500 transition outline-none shadow-sm"
            >
              <option
                th:each="aluno : ${alunos}"
                th:value="${aluno.id}"
                th:text="${aluno.nome + ' - ' + aluno.identificador}"
              ></option>
            </select>
          </div>

          <div class="relative">
            <label
              class="absolute -top-3 left-3 bg-white px-1 text-sm text-gray-500"
            >
              Tipo de Documento
            </label>
            <select
              th:field="*{tipoDocumento}"
              required
              class="w-full p-4 border border-gray-300 rounded-xl text-sm text-black focus:ring-emerald-400 focus:border-emerald-500 transition outline-none shadow-sm"
            >
              <option th:value="CPF">CPF</option>
              <option th:value="RG">RG</option>
              <option th:value="CNH">CNH</option>
              <option th:value="OUTRO">OUTRO</option>
            </select>
          </div>

          <div class="relative">
            <label
              class="absolute -top-3 left-3 bg-white px-1 text-sm text-gray-500"
            >
              Data
            </label>
            <input
              type="date"
              th:field="*{data}"
              required
              class="w-full p-4 border border-gray-300 rounded-xl text-sm text-black focus:ring-emerald-400 focus:border-emerald-500 transition outline-none shadow-sm"
            />
          </div>

          <div>
            <button
              type="submit"
              class="w-full py-3 rounded-xl font-semibold text-white bg-gradient-to-r from-emerald-500 to-emerald-600 hover:from-emerald-600 hover:to-emerald-700 shadow-lg transition transform hover:scale-105"
            >
              Cadastrar Documento
            </button>
          </div>
        </form>
      </div>
    </div>
  </body>
</html>
